@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
  font-weight: 600; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
  font-weight: 400; }

.heading1 {
  font-family: 'Ubuntu-Bold';
  font-weight: 700;
  margin-bottom: 0.3rem; }

.subheading {
  font-size: 0.65rem;
  color: grey;
  margin-bottom: 0.6rem; }

:root {
  font-size: 24px;
  font-family: 'Ubuntu-Regular', sans-serif;
  color: #02295a; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none; }

.bg-mobile {
  position: absolute;
  width: 100vw; }

body {
  overflow: hidden;
  background-color: #f0f6ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  body .header {
    width: 100%;
    z-index: 2;
    padding: 50px;
    height: 10vh; }
    body .header .btn-group {
      width: 60vw;
      height: 50%;
      gap: 15px; }
      body .header .btn-group button {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        color: white;
        border: white solid 1px;
        background-color: transparent;
        font-family: 'Ubuntu-Bold'; }
  body .personal-info {
    line-height: 1.7; }
    body .personal-info .personal-info__form fieldset {
      display: flex;
      flex-direction: column;
      font-size: 0.5rem;
      font-family: 'Ubuntu-Medium', sans-serif; }
      body .personal-info .personal-info__form fieldset input {
        font-family: 'Ubuntu-Bold';
        padding: 12px;
        border: #d6d9e6 1px solid;
        border-radius: 4px; }
      body .personal-info .personal-info__form fieldset input::placeholder {
        color: #9699ab; }
  body .billing .billing__button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px; }
  body .billing .billing-selection-btn {
    height: 65px;
    width: 95%;
    background-color: transparent;
    border: 1px solid #d6d9e6;
    border-radius: 10px;
    display: flex;
    align-items: center; }
    body .billing .billing-selection-btn .selected {
      border: 1px #02295a; }
  body .billing img {
    margin: 10px; }
  body .billing .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px; }
  body .billing .billing__switch {
    display: flex;
    gap: 15px;
    background-color: #d6d9e6;
    width: 95%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 0.7rem; }
    body .billing .billing__switch .billing-selection-switch {
      height: 20px;
      width: 35px;
      background-color: #02295a;
      border: none;
      border-radius: 12px; }
      body .billing .billing__switch .billing-selection-switch .switch-state-indicator {
        width: 12px;
        height: 12px;
        margin-left: 3px;
        z-index: 999;
        border-radius: 50%;
        background-color: white; }

.card {
  width: 90vw;
  border-radius: 10px;
  background-color: white;
  z-index: 3;
  margin-bottom: auto;
  padding: 20px;
  padding-top: 30px; }

.footer {
  height: 10vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px; }
  .footer .next-step-btn {
    width: 110px;
    font-size: 0.7rem;
    margin-right: 10px;
    font-family: 'Ubuntu-Medium', sans-serif;
    padding: 10px;
    height: 50px;
    background-color: #02295a;
    border: none;
    border-radius: 4px;
    color: white; }
