// Primary Colors

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

// Neutral Colors

$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

// Fonts

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(../assets/fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../assets/fonts/Ubuntu-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
}

// Styling

:root {
    font-size: 24px;
    font-family: 'Ubuntu-Regular', sans-serif;
    color: $Marine-blue;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-mobile {
    position: absolute;
}

body {
    overflow: hidden;
    background-color: $Magnolia;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        z-index: 2;
        padding: 50px;
        height: 10vh;

        .btn-group {
            width: 60vw;
            height: 50%;
            gap: 15px;

            button {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                color: white;
                border: white solid 1px;
                background-color: transparent;
                font-family: 'Ubuntu-Bold';
            }


            .selected {
                background-color: $Light-blue;
                color: black;
                border: none;
            }
        }
    }

    .card {
        width: 90vw;
        border-radius: 10px;
        background-color: white;
        z-index: 3;
        margin-bottom: auto;
        padding: 20px;
        padding-top: 30px;

        .personal-info {

            line-height: 1.7;
            h1 {
                font-family: 'Ubuntu-Bold';
                font-weight: 700;
                margin-bottom: 0.3rem;
            }

            h2 {
                font-size: 0.7rem;
                color: grey;
                margin-bottom: 0.6rem;
            }

            .personal-info__form {
                display: flex;
                flex-direction: column;
                font-size: 0.5rem;
                font-family: 'Ubuntu-Medium', sans-serif;

                input {
                    font-family: 'Ubuntu-bold';
                    padding: 12px;
                    border: $Light-gray 1px solid;
                    border-radius: 4px;
                }

                input::placeholder {
                    color: $Cool-gray;
                }
            }
        }

    }

    .footer {
        height: 10vh;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5px;

        .next-step-btn {
            width: 110px;
            font-size: 0.7rem;
            margin-right: 10px;
            font-family: 'Ubuntu-Medium', sans-serif;
            padding: 10px;
            height: 50px;
            background-color: $Marine-blue;
            border: none;
            border-radius: 4px;
            color: white;
        }
    }
}